
*, *:focus{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* chat component styling */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.outerContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 3px;
  height: 70%;
  width: 40%;
}


/* header container style */
.headerContainer{
  background: #112755;
  padding: 15px 10px;
  color: #fff !important;


}


/* message component styling */
.messageMain{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  margin-top: 5px;


  
}

.start{
  justify-content: flex-start;
}

.text{
  background: #112755;
  padding: 10px;
  border-radius: 10px;
  color: #fff !important;


}

.sentText{
  padding: 10px;
  color: #979EA9;


}


/* input component style */

.inputForm{
  display: flex;
  border-top: 1px solid #AEB7BC;
}

.inputForm input{
  border: none;
  width: 80%;
  padding: 10px;

}

.inputForm button{
  width: 20%;
  text-decoration: none;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  /* background: #0c678f; */
  background: #112755;
  color: #fff !important;

}

